@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div>
        <NavMenu CurrentPage="@NavigationManager.Uri"/>
    </div>
    
    <main>
        @* <CultureSelector /> *@

        <article>
            @Body
        </article>
    </main>
</div>
