@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">

    <NavMenu CurrentPage="@NavigationManager.Uri"/>
    
    <main>
        <article class="p-0">
            @Body
        </article>
    </main>
</div>
