@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">

    <NavMenu CurrentPage="@Navigation.Uri"/>
    
    <main>
        <article class="p-0">
            @Body
        </article>
    </main>
</div>
