@using System.Text.RegularExpressions;

@inject NavigationManager Navigation
@inject FolderService FolderService
@inject SetService SetService

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid d-flex">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-target="#navbarMenu" data-bs-toggle="collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav w-100">
                <li class="nav-item">   
                    <NavLink class="nav-link py-0" href="" Match="NavLinkMatch.All">
                        <div class="d-lg-none" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                            <span class="oi oi-home my-3" aria-hidden="true"></span> Home
                        </div>
                        <div class="d-none d-lg-block">
                            <span class="oi oi-home my-3" aria-hidden="true"></span> Home
                        </div>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link py-0" href="counter">
                        <div class="d-lg-none" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                            <span class="oi oi-plus my-3" aria-hidden="true"></span> Counter
                        </div>
                        <div class="d-none d-lg-block">
                            <span class="oi oi-plus my-3" aria-hidden="true"></span> Counter
                        </div>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link py-0" href="fetchdata">
                        <div class="d-lg-none" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                            <span class="oi oi-list-rich my-3" aria-hidden="true"></span> Fetch data
                        </div>
                        <div class="d-none d-lg-block">
                            <span class="oi oi-list-rich my-3" aria-hidden="true"></span> Fetch data
                        </div>
                    </NavLink>
                </li>

                <li class="nav-item dropdown ms-lg-auto my-auto">
                    <a class="dropdown-toggle nav-link text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Username
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end py-0">
                        <li>
                            <NavLink class="nav-link dropdown-item py-0 text-dark" href="culture-example-1">
                                <div class="d-lg-none" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    <span class="oi oi-book my-3" aria-hidden="true"></span> Culture Example 1
                                </div>
                                <div class="d-none d-lg-block">
                                    <span class="oi oi-book my-3" aria-hidden="true"></span> Culture Example 1
                                </div>
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link dropdown-item py-0 text-dark" href="culture-example-2">
                                <div class="d-lg-none" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    <span class="oi oi-book my-3" aria-hidden="true"></span> Culture Example 2
                                </div>
                                <div class="d-none d-lg-block">
                                    <span class="oi oi-book my-3" aria-hidden="true"></span> Culture Example 2
                                </div>
                            </NavLink>
                        </li>
                    </ul>
                </li>
            </ul>

            @if (Regex.IsMatch(CurrentPage, @$"^{Navigation.BaseUri}sets(/\d+)?$"))
            {
                <div class="subnav d-lg-none bg-light rounded">
                    <div>
                        <h3 class="text-center mt-3 pt-3">Folders</h3>

                        <div class="folderSelector overflow-auto">
                            @foreach (Folder folder in FolderService.GetAllFolders())
                            {
                                <div class="container justify-content-center">
                                    <a class="btn btn-primary w-100 mb-1" href="/sets/@folder.Id">
                                        <div data-bs-target ="#navbarMenu" data-bs-toggle="collapse">
                                            @folder.Name
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="px-2">
                        <button class="btn btn-primary w-100 my-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                            Create new folder
                        </button>
                    </div>
                </div>
            }
            else if (Regex.IsMatch(CurrentPage, @$"^{Navigation.BaseUri}sets/\d+/\d+(/(practice|exercises))?$") && FolderService.CurrentFolder != null && SetService.CurrentSet != null)
            {
                <div class="d-lg-none">
                    <hr class="text-white" />
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <a class="nav-link p-0" href="/sets/@FolderService.CurrentFolder.Id/@SetService.CurrentSet.Id">
                                <div class="py-2" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    View set
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="/sets/@FolderService.CurrentFolder.Id/@SetService.CurrentSet.Id/practice">
                                <div class="py-2" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    Practice
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="/sets/@FolderService.CurrentFolder.Id/@SetService.CurrentSet.Id/exercises">
                                <div class="py-2" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    Exercises
                                </div>
                            </a>
                        </li>
                    </ul>  
                </div>
            }
        </div>
    </div>
</nav>


@code {
    [Parameter]
    public string CurrentPage { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        FolderService.OnChange.Add(StateHasChanged);
        SetService.OnChange.Add(StateHasChanged);
    }
}
