@inject NavigationManager NavigationManager
@inject FolderSelectorService FolderSelectorService

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid d-flex">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-target="#navbarMenu" data-bs-toggle="collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav w-100">
                <li class="nav-item">   
                    <NavLink class="nav-link py-0" href="" Match="NavLinkMatch.All">
                        <div class="d-lg-none" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                            <span class="oi oi-home my-3" aria-hidden="true"></span> Home
                        </div>
                        <div class="d-none d-lg-block">
                            <span class="oi oi-home my-3" aria-hidden="true"></span> Home
                        </div>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link py-0" href="counter">
                        <div class="d-lg-none" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                            <span class="oi oi-plus my-3" aria-hidden="true"></span> Counter
                        </div>
                        <div class="d-none d-lg-block">
                            <span class="oi oi-plus my-3" aria-hidden="true"></span> Counter
                        </div>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link py-0" href="fetchdata">
                        <div class="d-lg-none" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                            <span class="oi oi-list-rich my-3" aria-hidden="true"></span> Fetch data
                        </div>
                        <div class="d-none d-lg-block">
                            <span class="oi oi-list-rich my-3" aria-hidden="true"></span> Fetch data
                        </div>
                    </NavLink>
                </li>

                <li class="nav-item dropdown ms-lg-auto my-auto">
                    <a class="dropdown-toggle nav-link text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Username
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end py-0">
                        <li>
                            <NavLink class="nav-link dropdown-item py-0 text-dark" href="culture-example-1">
                                <div class="d-lg-none" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    <span class="oi oi-book my-3" aria-hidden="true"></span> Culture Example 1
                                </div>
                                <div class="d-none d-lg-block">
                                    <span class="oi oi-book my-3" aria-hidden="true"></span> Culture Example 1
                                </div>
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link dropdown-item py-0 text-dark" href="culture-example-2">
                                <div class="d-lg-none" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    <span class="oi oi-book my-3" aria-hidden="true"></span> Culture Example 2
                                </div>
                                <div class="d-none d-lg-block">
                                    <span class="oi oi-book my-3" aria-hidden="true"></span> Culture Example 2
                                </div>
                            </NavLink>
                        </li>
                    </ul>
                </li>
            </ul>

            @if (CurrentPage == $"{NavigationManager.BaseUri}sets")
            {
                <div class="subnav d-lg-none bg-light rounded">
                    <h3 class="text-center mt-3 pt-3">Folders</h3>

                    <div class="folderSelector container overflow-auto pb-1">
                        @foreach (Folder folder in FolderSelectorService.Folders)
                        {
                            <div class="container justify-content-center" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                <button class="btn btn-primary w-100 mb-1" @onclick="@(e => FolderSelectorService.OpenFolder(folder.Id))">@folder.Name</button>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</nav>


@code {
    [Parameter]
    public string CurrentPage { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        FolderSelectorService.OnChange.Add(StateHasChanged);
    }
}
