.folderSelectorContainer {
    height: calc(100vh - 196px);
}

.folderSelector {
    height: calc(100vh - 302px);
}

@media (width>=423px) {
    .folderSelector {
        height: calc(100vh - 303px);
    }
}

@media (width>=561px) {
    .folderSelector {
        height: calc(100vh - 304px);
    }
}



