<div class="bg-light d-none d-lg-block col-lg-3 col-xxl-2">
    <div class="sidebar overflow-auto pb-1">
        <div class="container justify-content-center mt-3">
            <a class="btn btn-primary w-100 mb-1" href="/sets/@FolderId/@SetId" active>Set</a>
        </div>
        <div class="container justify-content-center">
            <a class="btn btn-primary w-100 mb-1" href="/sets/@FolderId/@SetId/practice">Practice</a>
        </div>
        <div class="container justify-content-center">
            <a class="btn btn-primary w-100 mb-1" href="/sets/@FolderId/@SetId/exercises">Exercises</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int FolderId { get; set; }

    [Parameter]
    public int SetId { get; set; }
}
