@inject IStringLocalizer<Pages.Set> Loc

<div class="container mb-3">
    <InputFile OnChange="LoadFile" accept=".csv" />
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <Button Color="ButtonColor.Secondary" @onclick="OnCloseClickedCallback">@Loc["Close"]</Button>
        <Button Color="ButtonColor.Primary">@Loc["UploadFile"]</Button>
    </div>
</div>

@code {
    [Parameter] 
    public EventCallback OnCloseClickedCallback { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async void LoadFile(InputFileChangeEventArgs e)
    {
        var reader = await new StreamReader(e.File.OpenReadStream()).ReadToEndAsync();
        Console.WriteLine(reader);
    }
}