@media (width<=1050px) {
    .sidebar {
        height: calc(100vh - 166px);
    }
}

.exercise-sheet-container {
    position: relative;
}

@media (width>=576px) {
    .exercise-sheet-container {
        overflow: auto;
    }
}

@media (width<576px) {
    .exercise-page-container {
        overflow: auto;
    }
}

