@page "/{username}/profile"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserService UserService

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>

<p>@Username</p>

@code {

    [Parameter]
    public required string Username { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        await UserService.SetCurrentUser(Username);
    }
}
