a[class*="cardLink"]:link,
a[class*="cardLink"]:visited {
    text-decoration: none;
    color: black;
}

@media (width<=1050px) {
    .sidebar {
        height: calc(100vh - 166px);
    }
}

@media (width>=576px) {
    .card-container {
        overflow: auto;
    }
}


