.content {
    height: calc(100vh - 64px)
}

@media (width<=767px) {
    .description {
        max-height: 200px;
    }
}

@media (width<=575px) {
    .description {
        max-height: 100px;
    }
}

.form-floating > label::after {
    background-color: transparent !important;
}

.learntPercantage {
    height: 2.5rem;
    width: 2.5rem;
    color: white;
}

@media (width<=420px) {
    .learntPercantage {
        height: 2.15rem;
        width: 2.15rem;
        font-size: 0.9em;
    }
}

@media (width<=360px) {
    .learntPercantage {
        height: 2rem;
        width: 2rem;
        font-size: 0.8em;
    }
}

a[class*="cardLink"]:link,
a[class*="cardLink"]:visited {
    text-decoration: none;
    color: black;
}

.breadcrumb {
    font-size: 1.15rem;
}

@media (width>=992px) {
    .breadcrumb {
        font-size: 1.25rem;
    }
}

.sidebar {
    height: calc(100vh - 168px);
}

@media (width<=1185px) {
    .sidebar {
        height: calc(100vh - 167px);
    }
}

@media (width<=1050px) {
    .sidebar {
        height: calc(100vh - 166px);
    }
}


