@page "/sets"

@inject FolderSelectorService FolderSelectorService

@using BlazorLanguageLearningApp.Shared

<PageTitle>Sets</PageTitle>

<div class="row d-lg-flex m-0 p-0">
    <div class="bg-primary d-none d-lg-block col-lg-3 col-xxl-2">
        <h3 class="text-center text-white">Folders</h3>
        <div class="sidebar overflow-auto">
            @foreach (Folder folder in FolderSelectorService.Folders)
            {
                <div class="container justify-content-center">
                    <button class="btn btn-light w-100 mb-1" @onclick="@(e => FolderSelectorService.OpenFolder(folder.Id))">@folder.Name</button>
                </div>
            }
        </div>
    </div>
    <div class="col-lg-9 col-xxl-10">
        <p>@FolderSelectorService.CurrentFolder!.Name</p>
    </div>
</div>


@code {
    protected override void OnInitialized()
    {
        FolderSelectorService.OnChange.Add(StateHasChanged);
    }
}
