.sidebar {
    height: calc(100vh - 114px);
}

@media (width<=1185px) {
    .sidebar {
        height: calc(100vh - 113px);
    }
}

@media (width<=1050px) {
    .sidebar {
        height: calc(100vh - 112px);
    }
}



