.content {
    height: calc(100vh - 56px)
}

.learntPercantage {
    height: 2.5rem;
    width: 2.5rem;
    color: white;
}

@media (width<=420px) {
    .learntPercantage {
        height: 2.15rem;
        width: 2.15rem;
        font-size: 0.90em;
    }
}

a[class*="setLink"]:link,
a[class*="setLink"]:visited {
    text-decoration: none;
    color: black;
}

.form-floating > label::after {
    background-color: transparent !important;
}

.sidebar {
    height: calc(100vh - 168px);
}

@media (width<=1185px) {
    .sidebar {
        height: calc(100vh - 168px);
    }
}

.breadcrumb {
    font-size: 1.15rem;
}

@media (width>=992px) {
    .breadcrumb {
        font-size: 1.25rem;
    }
}






