a[class*="setLink"]:link,
a[class*="setLink"]:visited {
    text-decoration: none;
    color: black;
}

@media (width<=1185px) {
    .sidebar {
        height: calc(100vh - 168px);
    }
}

@media (width>=576px) {
    .setContainer {
        overflow: auto;
    }
}






